<div class="col-md-6 offset-md-3">
    <div class="center">
        <h3 class="text-center text-primary">View Employee Details</h3>
        <div>
            <label><b class="text-primary">First Name : </b></label> {{employee.firstname}}
        </div>
        <div>
            <label><b class="text-primary">Last Name : </b></label> {{employee.lastname}}
        </div>
        <div>
            <label><b class="text-primary">EmailId : </b></label> {{employee.emailId}}
        </div>
    </div>
</div>